body{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(241, 211, 119));
    font-family: "Kiwi Maru", serif;
    font-style: normal;

}

#heading{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-play-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

#container{
    width: 500px;
    max-width: 75%;
    background-color: #4f2e05;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px 2px;
    margin: auto;
}

.message-container{
    color: black;
    display: flex;
    padding: 20px;
    margin: auto;
    width: 50%;
    font-size: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn, .answer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 15px;
    background-color: #ceaa6f;
    font-size: 18px;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 25%;
}

/* .answer-btn{
    flex-wrap: wrap;
} */

.btn:hover, .answer-btn:hover{
    border: 3px solid, #a88956;
    cursor: pointer;
}

.answer-btn.correct{
    background-color: var(--correct);
}

.answer-btn.incorrect{
    background-color: var(--incorrect);
}

#question-container{
    display: flex;
    background-color: #4f2e05;
    flex-direction: column;
}

  #question{
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.btn-grid{
    display: flex;
    justify-content: center;
}

#answer-btn-container{
    background-color: #4f2e05;
    display: grid;
    grid-template-columns:repeat(2, auto);
    margin: auto;
    gap: 10px;
}

.lives-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.play-again-btn{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-color: #73161e;
    color: white;
}

.play-again-btn:hover{
    border: 2px solid, black;
    cursor: pointer;
}

.hide{
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {

  }
  